<%- include('includes/header') %>

<div class="four">
    <img src="images/404.png" alt="" />
    <h2>Sahifa topilmadi!</h2>
    <br>
    <a href="/" class="hvr-shutter-in-horizontal">Bosh sahifa</a>
</div>


<%- include('includes/footer') %>