<%- include('includes/header') %>
<div class="banner"><h2><a href="/">Bosh sahifa</a><i class="fa fa-angle-right"></i><span>Bosh sahifa</span></h2></div>

<div class="blank">
    <div class="blank-page">
        <a href="/item" class="btn-default btn">Mahsulotlar</a><br><br>
        <a href="/category" class="btn-default btn">Kategoriyalar</a><br><br>
        <a href="/order" class="btn-default btn">Buyurtmalar</a><br><br>
        <a href="/user" class="btn-default btn">Foydalanuvchilar</a><br><br>

    </div>
</div>


<%- include('includes/footer') %>